In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv(r"C:\Users\Rahul\Desktop\Data Science\omkar sir\Machine Learning\Analytic vidya\loan\test_lAUu6dG.csv")

In [3]:
df.shape

(367, 12)

In [4]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [5]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [6]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [7]:
df.drop(columns=["Loan_ID"], inplace=True)

In [8]:
for i in df.select_dtypes(include='object').columns.to_list():
    print(f"{i} -- { df[i].unique() }")

Gender -- ['Male' 'Female' nan]
Married -- ['Yes' 'No']
Dependents -- ['0' '1' '2' '3+' nan]
Education -- ['Graduate' 'Not Graduate']
Self_Employed -- ['No' 'Yes' nan]
Property_Area -- ['Urban' 'Semiurban' 'Rural']

In [9]:
df['Gender'].fillna(df['Gender'].mode()[0] , inplace=True)
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [10]:
df['Married'].fillna(df['Married'].mode()[0] , inplace=True)
df['Married'].unique()

array(['Yes', 'No'], dtype=object)

In [11]:
df['Dependents'].fillna(df['Dependents'].mode()[0] , inplace=True)
df['Dependents'].replace({'3+':'3'}, inplace=True)
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [12]:
df['Self_Employed'].fillna(df['Self_Employed'].mode()[0] , inplace=True)
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [13]:
for i in df.select_dtypes(include='object').columns.to_list():
    print(f"{i} -- { df[i].unique() }")

Gender -- ['Male' 'Female']
Married -- ['Yes' 'No']
Dependents -- ['0' '1' '2' '3']
Education -- ['Graduate' 'Not Graduate']
Self_Employed -- ['No' 'Yes']
Property_Area -- ['Urban' 'Semiurban' 'Rural']

In [14]:
df.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [15]:
# df.dropna(inplace=True)

In [16]:
df['LoanAmount'].fillna(df['LoanAmount'].median(), inplace=True)

In [17]:
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].median(), inplace=True)

In [18]:
df['Credit_History'].fillna(df['Credit_History'].median(), inplace=True)

In [19]:
df.shape

(367, 11)

In [20]:
df.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [21]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [22]:
# from sklearn import preprocessing

# # Loop over each column in the DataFrame where dtype is 'object'
# for col in df.select_dtypes(include=['object']).columns:

#     # Initialize a LabelEncoder object
#     label_encoder = preprocessing.LabelEncoder()

#     # Fit the encoder to the unique values in the column
#     label_encoder.fit(df[col].unique())

#     # Transform the column using the encoder
#     df[col] = label_encoder.transform(df[col])

#     # Print the column name and the unique encoded values
#     print(f"{col}: {df[col].unique()}")

In [23]:
le = preprocessing.LabelEncoder()
for col in df.select_dtypes(include=['object']).columns:
    df[col] = le.fit_transform(df[col])

In [24]:
df.shape

(367, 11)

In [25]:
import pickle
output_predict = pickle.load(open("loan_predict_ra.pkl","rb"))

In [26]:
pred1 = output_predict.predict(df)

In [27]:
df = pd.read_csv(r"C:\Users\Rahul\Desktop\Data Science\omkar sir\Machine Learning\Analytic vidya\loan\test_lAUu6dG.csv")

In [28]:
df['Loan_ID']

0      LP001015
1      LP001022
2      LP001031
3      LP001035
4      LP001051
         ...
362    LP002971
363    LP002975
364    LP002980
365    LP002986
366    LP002989
Name: Loan_ID, Length: 367, dtype: object

In [29]:
newdf = pd.DataFrame()

In [32]:
newdf['Loan_ID'] = df['Loan_ID']
newdf['Loan_Status'] = pred1

In [33]:
newdf

      Loan_ID  Loan_Status
0    LP001015            1
1    LP001022            1
2    LP001031            1
3    LP001035            1
4    LP001051            0
..        ...          ...
362  LP002971            1
363  LP002975            1
364  LP002980            1
365  LP002986            1
366  LP002989            1

[367 rows x 2 columns]

In [34]:
newdf['Loan_Status'] = newdf['Loan_Status'].map({1:'Y',0:'N'  })

In [36]:
newdf.to_csv("mynewpre.csv")