$Feature$-$Selection$

**Retrival the important features, selecting an important features is very important step before going to ML**

- Droping the constant fetaures

- Information gain

- p-value

- Forward selection and backward selection

- Correlation with target column

Feature selection methods

1) Variance threshold:
    
    - based on variance we can decide the data is constant or varying 

2) P-value    

    - H0: there is no relation x andy
        
    - H1: There is relation   X and Y
        
    - p<0.05     
    
        - Reject the Null hypothesis


3)  Mutual info classify :  
    
    - KNN and entropy

    - It will give the relation between input and output will pick which are having more relation

    - input vs output
    
        - 1) Entropy 
        
        - 2) KNN 
        
        - 3) R-square: explainability about y based on x

4) Forward selection and backward selection
     
     https://courses.lumenlearning.com/introstats1/chapter/model-selection/#:~:text=The%20forward%20selection%20strategy%20is,measured%20by%20adjusted%20R2).

$Method-1$:  Variance threshold method

**Droping constanat fetaures**

- If the features or variables having zero varinace

- the feature values through out the data is the same

- you can decide manually what is your desired variance in order to keep the feature

In [1]:
import pandas as pd
dict1={'A':[100,200,300,400],
       'B':[1,2,3,4],
       'C':[10,20,30,40],
       'D':[10,10,10,10]}

df=pd.DataFrame(dict1)
df

     A  B   C   D
0  100  1  10  10
1  200  2  20  10
2  300  3  30  10
3  400  4  40  10

In [2]:
from sklearn.feature_selection import VarianceThreshold
vt=VarianceThreshold(threshold=0)
vt.fit(df)

VarianceThreshold(threshold=0)

In [ ]:
dir(vt)

In [ ]:
df  

# The column D is not changing
# The column D has same values
# Same values means the variance =0
# I keep threshld=0
# D should remove

#df[['A','B','C']]
#df[[True,True,True,False]]
#df[vt.get_support()]

In [ ]:
vt.get_support()

# True : the variance not equal to zero
# False: the variance is equal to zero

In [ ]:
# I need the columns those have support=True
df.columns

if the values are constant and if one value is zero we will remove that row or column?

 - you want to drop the columns: if that column is useless
    
 - the data is not changing much:variance is zero

In [ ]:
vt.get_params() # What is the threshold value it is using

In [ ]:
vt.get_support()

In [ ]:
cols=df.columns[vt.get_support()]  
cols
# D is removed

In [ ]:
# Normal python implementation
# support=vt.get_support()
# for i in range(len(support)):
#     if support[i]==True:
#         print(df.columns[i])

In [ ]:
# Task: implememt the same task on wine data
# change the threshold  
# keep 0
# keep 0.5

# keep that in mind dont drop output column

df=#data
from sklearn.feature_selection import VarianceThreshold
vt=VarianceThreshold(threshold=0)
vt.fit(df)

cols=df.columns[vt.get_support()]  
cols

In [ ]:
df

In [ ]:
df[cols]

In [ ]:
from sklearn.feature_selection import VarianceThreshold
vt=VarianceThreshold(threshold=0)
vt.fit(df)
cols=df.columns[vt.get_support()]  
df[cols]

# Dont do on Target varaible
# while providng the data remove the target variables

In [3]:
import pandas as pd

data=pd.read_csv("winequality_red.csv")
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
# Apply only Input columns
# drop the target column: quality
data.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [5]:
# Seperate input and output column
X=data.drop('quality',axis=1) 
# inplace =True  data will with out quality  
# dont apply inplace True
X.columns
print(X.shape)
y=data['quality']

(1599, 11)

In [ ]:
# Here in two examples I have taken numerical data
# Will convert categorical data to numerical data before developing the ML algorithm
# thats why here im using only numerical data

In [8]:
from sklearn.feature_selection import VarianceThreshold
vt=VarianceThreshold(threshold=1)
vt.fit(X)
cols=X.columns[vt.get_support()]
X[cols]

,fixed acidity,residual sugar,free sulfur dioxide,total sulfur dioxide,alcohol
0,7.4,1.9,11.0,34.0,9.4
1,7.8,2.6,25.0,67.0,9.8
2,7.8,2.3,15.0,54.0,9.8
3,11.2,1.9,17.0,60.0,9.8
4,7.4,1.9,11.0,34.0,9.4
...,...,...,...,...,...
1594,6.2,2.0,32.0,44.0,10.5
1595,5.9,2.2,39.0,51.0,11.2
1596,6.3,2.3,29.0,40.0,11.0
1597,5.9,2.0,32.0,44.0,10.2
1598,6.0,3.6,18.0,42.0,11.0

In [ ]:
# if complete row is NaN can we drop NaN values

# many approaches ===== R &D 
# 100 : 50 NaN

In [12]:
import pandas as pd

data=pd.read_csv("winequality_red.csv")
data.head()

X=data.drop('quality',axis=1) 
y=data['quality']

from sklearn.feature_selection import VarianceThreshold
vt=VarianceThreshold()  # default threshold=0.0
vt.fit(X)
cols=X.columns[vt.get_support()]  # Variance=0
X[cols]

# what is the threshold you need to keep: no answer

# pH column is not removed which means its variance is not zero

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [ ]:
X['pH'].std()

In [ ]:
data.describe()

In [10]:
import pandas as pd

data=pd.read_csv("winequality_red.csv")
data.head()

X=data.drop('quality',axis=1) 
y=data['quality']

In [11]:
import numpy as np
list_var=[]
for i in X.columns:
    list_var.append(np.sqrt(X[i].std()))
    
for i in list_var:
    if i<1:
        print(i,list_var.index(i),X.columns[list_var.index(i)])

0.42315446843148774 1 volatile acidity
0.44136281833126567 2 citric acid
0.21694538946492997 4 chlorides
0.04344345697389373 7 density
0.39292043075353394 8 pH
0.41171225338834616 9 sulphates

In [ ]:
list1=['A','B']
list1.index('A')

$Method-2$:
    
**Information gain**

mutual info classify


- It is value estimating how much relationship/how much information about target variable

- 0 mean both variables are independent

- Here will use entropy or KNN method

In [ ]:
import pandas as pd

# Read the data
data=pd.read_csv("winequality_red.csv")

#Sepearte input and target features
X=data.drop('quality',axis=1) # X is dataframe
y=data['quality']   # y is series type

In [ ]:
data.columns

In [ ]:
#data[['fixed acidity', 'volatile acidity']]

In [ ]:
#YY=data['quality']
#YY

In [ ]:
from sklearn.feature_selection import mutual_info_classif
MI=mutual_info_classif(X,y)
MI

In [ ]:
len(MI)

In [ ]:
val=pd.Series(MI)
val

# I want replace index with column names

In [ ]:
#y

In [ ]:
#MI  # numpy array

# Numpy array we are converting into series

In [ ]:
# Two methods almost enough
# Constan features ==== you need to remove
# Mutual information
val=pd.Series(MI)    # index with series
val.index=X.columns  # column with series
val

In [ ]:
val.sort_values(ascending=True)

In [ ]:
val.sort_values(ascending=True).plot(kind='bar')

is this suitable for both classification and regression sir mutual info

at which step will do these feature selection

why we are splitting : x and y
    
python code will allow X and y sepeartely

thats why we are splitting

ones we extract the important fetaures , those features used to develop a model

In [ ]:
import pandas as pd

# Read the data
data=pd.read_csv("winequality_red.csv")

#Sepearte input and target features
X=data.drop('quality',axis=1) 
y=data['quality']

from sklearn.feature_selection import mutual_info_classif
MI=mutual_info_classif(X,y)

print(MI)

val=pd.Series(MI)
print(val)
val.index=X.columns

val.sort_values(ascending=True)

print(val)

val.sort_values(ascending=True).plot(kind='bar')

In [ ]:
val.sort_values(ascending=True).index[:5]

$SelectKbest$

In [ ]:
data=pd.read_csv("winequality_red.csv")
data.head()

In [13]:
from sklearn.feature_selection import SelectKBest,mutual_info_classif
import pandas as pd

# Read the data
data=pd.read_csv("winequality_red.csv")

#Sepearte input and target features
X=data.drop('quality',axis=1) 
y=data['quality']

# Assume that you did not done mutual info classii
top_5=SelectKBest(mutual_info_classif,k=5)
val=top_5.fit(X,y)

In [ ]:
dir(val)

In [14]:
val.get_support()

array([False,  True, False, False, False, False,  True,  True, False,
        True,  True])

In [15]:
val.get_feature_names_out()  # Which is True

array(['volatile acidity', 'total sulfur dioxide', 'density', 'sulphates',
       'alcohol'], dtype=object)

In [ ]:
val.get_params()  # whatever you pass inside package

In [ ]:
val.scores_