In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv(r"C:\Users\Rahul\Desktop\Data Science\omkar sir\Machine Learning\Analytic vidya\loan\test_lAUu6dG.csv")

In [3]:
df.shape

(367, 12)

In [27]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
4,3,1,0,0,1,0,3276,0,78.0,360.0,1.0,2
5,4,1,1,0,1,1,2165,3422,152.0,360.0,1.0,2

In [5]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [6]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [7]:
df.drop(columns=["Loan_ID"], inplace=True)

In [8]:
for i in df.select_dtypes(include='object').columns.to_list():
    print(f"{i} -- { df[i].unique() }")

Loan_ID -- ['LP001015' 'LP001022' 'LP001031' 'LP001035' 'LP001051' 'LP001054'
 'LP001055' 'LP001056' 'LP001059' 'LP001067' 'LP001078' 'LP001082'
 'LP001083' 'LP001094' 'LP001096' 'LP001099' 'LP001105' 'LP001107'
 'LP001108' 'LP001115' 'LP001121' 'LP001124' 'LP001128' 'LP001135'
 'LP001149' 'LP001153' 'LP001163' 'LP001169' 'LP001174' 'LP001176'
 'LP001177' 'LP001183' 'LP001185' 'LP001187' 'LP001190' 'LP001203'
 'LP001208' 'LP001210' 'LP001211' 'LP001219' 'LP001220' 'LP001221'
 'LP001226' 'LP001230' 'LP001231' 'LP001232' 'LP001237' 'LP001242'
 'LP001268' 'LP001270' 'LP001284' 'LP001287' 'LP001291' 'LP001298'
 'LP001312' 'LP001313' 'LP001317' 'LP001321' 'LP001323' 'LP001324'
 'LP001332' 'LP001335' 'LP001338' 'LP001347' 'LP001348' 'LP001351'
 'LP001352' 'LP001358' 'LP001359' 'LP001361' 'LP001366' 'LP001368'
 'LP001375' 'LP001380' 'LP001386' 'LP001400' 'LP001407' 'LP001413'
 'LP001415' 'LP001419' 'LP001420' 'LP001428' 'LP001445' 'LP001446'
 'LP001450' 'LP001452' 'LP001455' 'LP001466' 'LP001471' 'LP001472'
 'LP001475' 'LP001483' 'LP001486' 'LP001490' 'LP001496' 'LP001499'
 'LP001500' 'LP001501' 'LP001517' 'LP001527' 'LP001534' 'LP001542'
 'LP001547' 'LP001548' 'LP001558' 'LP001561' 'LP001563' 'LP001567'
 'LP001568' 'LP001573' 'LP001584' 'LP001587' 'LP001589' 'LP001591'
 'LP001599' 'LP001601' 'LP001607' 'LP001611' 'LP001613' 'LP001622'
 'LP001627' 'LP001650' 'LP001651' 'LP001652' 'LP001655' 'LP001660'
 'LP001662' 'LP001663' 'LP001667' 'LP001695' 'LP001703' 'LP001718'
 'LP001728' 'LP001735' 'LP001737' 'LP001739' 'LP001742' 'LP001757'
 'LP001769' 'LP001771' 'LP001785' 'LP001787' 'LP001789' 'LP001791'
 'LP001794' 'LP001797' 'LP001815' 'LP001817' 'LP001818' 'LP001822'
 'LP001827' 'LP001831' 'LP001842' 'LP001853' 'LP001855' 'LP001857'
 'LP001862' 'LP001867' 'LP001878' 'LP001881' 'LP001886' 'LP001906'
 'LP001909' 'LP001911' 'LP001921' 'LP001923' 'LP001933' 'LP001943'
 'LP001950' 'LP001959' 'LP001961' 'LP001973' 'LP001975' 'LP001979'
 'LP001995' 'LP001999' 'LP002007' 'LP002009' 'LP002016' 'LP002017'
 'LP002018' 'LP002027' 'LP002028' 'LP002042' 'LP002045' 'LP002046'
 'LP002047' 'LP002056' 'LP002057' 'LP002059' 'LP002062' 'LP002064'
 'LP002069' 'LP002070' 'LP002077' 'LP002083' 'LP002090' 'LP002096'
 'LP002099' 'LP002102' 'LP002105' 'LP002107' 'LP002111' 'LP002117'
 'LP002118' 'LP002123' 'LP002125' 'LP002148' 'LP002152' 'LP002165'
 'LP002167' 'LP002168' 'LP002172' 'LP002176' 'LP002183' 'LP002184'
 'LP002186' 'LP002192' 'LP002195' 'LP002208' 'LP002212' 'LP002240'
 'LP002245' 'LP002253' 'LP002256' 'LP002257' 'LP002264' 'LP002270'
 'LP002279' 'LP002286' 'LP002294' 'LP002298' 'LP002306' 'LP002310'
 'LP002311' 'LP002316' 'LP002321' 'LP002325' 'LP002326' 'LP002329'
 'LP002333' 'LP002339' 'LP002344' 'LP002346' 'LP002354' 'LP002355'
 'LP002358' 'LP002360' 'LP002375' 'LP002376' 'LP002383' 'LP002385'
 'LP002389' 'LP002394' 'LP002397' 'LP002399' 'LP002400' 'LP002402'
 'LP002412' 'LP002415' 'LP002417' 'LP002420' 'LP002425' 'LP002433'
 'LP002440' 'LP002441' 'LP002442' 'LP002445' 'LP002450' 'LP002471'
 'LP002476' 'LP002482' 'LP002485' 'LP002495' 'LP002496' 'LP002523'
 'LP002542' 'LP002550' 'LP002551' 'LP002553' 'LP002554' 'LP002561'
 'LP002566' 'LP002568' 'LP002570' 'LP002572' 'LP002581' 'LP002584'
 'LP002592' 'LP002593' 'LP002599' 'LP002604' 'LP002605' 'LP002609'
 'LP002610' 'LP002612' 'LP002614' 'LP002630' 'LP002635' 'LP002639'
 'LP002644' 'LP002651' 'LP002654' 'LP002657' 'LP002711' 'LP002712'
 'LP002721' 'LP002735' 'LP002744' 'LP002745' 'LP002746' 'LP002747'
 'LP002754' 'LP002759' 'LP002760' 'LP002766' 'LP002769' 'LP002774'
 'LP002775' 'LP002781' 'LP002782' 'LP002786' 'LP002790' 'LP002791'
 'LP002793' 'LP002802' 'LP002803' 'LP002805' 'LP002806' 'LP002816'
 'LP002823' 'LP002825' 'LP002826' 'LP002843' 'LP002849' 'LP002850'
 'LP002853' 'LP002856' 'LP002857' 'LP002858' 'LP002860' 'LP002867'
 'LP002869' 'LP002870' 'LP002876' 'LP002878' 'LP002879' 'LP002885'
 'LP002890' 'LP002891' 'LP002899' 'LP002901' 'LP002907' 'LP002920'
 'LP002921' 'LP002932' 'LP002935' 'LP002952' 'LP002954' 'LP002962'
 'LP002965' 'LP002969' 'LP002971' 'LP002975' 'LP002980' 'LP002986'
 'LP002989']
Gender -- ['Male' 'Female' nan]
Married -- ['Yes' 'No']
Dependents -- ['0' '1' '2' '3+' nan]
Education -- ['Graduate' 'Not Graduate']
Self_Employed -- ['No' 'Yes' nan]
Property_Area -- ['Urban' 'Semiurban' 'Rural']

In [9]:
df['Gender'].fillna(df['Gender'].mode()[0] , inplace=True)
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [10]:
df['Married'].fillna(df['Married'].mode()[0] , inplace=True)
df['Married'].unique()

array(['Yes', 'No'], dtype=object)

In [11]:
df['Dependents'].fillna(df['Dependents'].mode()[0] , inplace=True)
df['Dependents'].replace({'3+':'3'}, inplace=True)
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [12]:
df['Self_Employed'].fillna(df['Self_Employed'].mode()[0] , inplace=True)
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [13]:
for i in df.select_dtypes(include='object').columns.to_list():
    print(f"{i} -- { df[i].unique() }")

Loan_ID -- ['LP001015' 'LP001022' 'LP001031' 'LP001035' 'LP001051' 'LP001054'
 'LP001055' 'LP001056' 'LP001059' 'LP001067' 'LP001078' 'LP001082'
 'LP001083' 'LP001094' 'LP001096' 'LP001099' 'LP001105' 'LP001107'
 'LP001108' 'LP001115' 'LP001121' 'LP001124' 'LP001128' 'LP001135'
 'LP001149' 'LP001153' 'LP001163' 'LP001169' 'LP001174' 'LP001176'
 'LP001177' 'LP001183' 'LP001185' 'LP001187' 'LP001190' 'LP001203'
 'LP001208' 'LP001210' 'LP001211' 'LP001219' 'LP001220' 'LP001221'
 'LP001226' 'LP001230' 'LP001231' 'LP001232' 'LP001237' 'LP001242'
 'LP001268' 'LP001270' 'LP001284' 'LP001287' 'LP001291' 'LP001298'
 'LP001312' 'LP001313' 'LP001317' 'LP001321' 'LP001323' 'LP001324'
 'LP001332' 'LP001335' 'LP001338' 'LP001347' 'LP001348' 'LP001351'
 'LP001352' 'LP001358' 'LP001359' 'LP001361' 'LP001366' 'LP001368'
 'LP001375' 'LP001380' 'LP001386' 'LP001400' 'LP001407' 'LP001413'
 'LP001415' 'LP001419' 'LP001420' 'LP001428' 'LP001445' 'LP001446'
 'LP001450' 'LP001452' 'LP001455' 'LP001466' 'LP001471' 'LP001472'
 'LP001475' 'LP001483' 'LP001486' 'LP001490' 'LP001496' 'LP001499'
 'LP001500' 'LP001501' 'LP001517' 'LP001527' 'LP001534' 'LP001542'
 'LP001547' 'LP001548' 'LP001558' 'LP001561' 'LP001563' 'LP001567'
 'LP001568' 'LP001573' 'LP001584' 'LP001587' 'LP001589' 'LP001591'
 'LP001599' 'LP001601' 'LP001607' 'LP001611' 'LP001613' 'LP001622'
 'LP001627' 'LP001650' 'LP001651' 'LP001652' 'LP001655' 'LP001660'
 'LP001662' 'LP001663' 'LP001667' 'LP001695' 'LP001703' 'LP001718'
 'LP001728' 'LP001735' 'LP001737' 'LP001739' 'LP001742' 'LP001757'
 'LP001769' 'LP001771' 'LP001785' 'LP001787' 'LP001789' 'LP001791'
 'LP001794' 'LP001797' 'LP001815' 'LP001817' 'LP001818' 'LP001822'
 'LP001827' 'LP001831' 'LP001842' 'LP001853' 'LP001855' 'LP001857'
 'LP001862' 'LP001867' 'LP001878' 'LP001881' 'LP001886' 'LP001906'
 'LP001909' 'LP001911' 'LP001921' 'LP001923' 'LP001933' 'LP001943'
 'LP001950' 'LP001959' 'LP001961' 'LP001973' 'LP001975' 'LP001979'
 'LP001995' 'LP001999' 'LP002007' 'LP002009' 'LP002016' 'LP002017'
 'LP002018' 'LP002027' 'LP002028' 'LP002042' 'LP002045' 'LP002046'
 'LP002047' 'LP002056' 'LP002057' 'LP002059' 'LP002062' 'LP002064'
 'LP002069' 'LP002070' 'LP002077' 'LP002083' 'LP002090' 'LP002096'
 'LP002099' 'LP002102' 'LP002105' 'LP002107' 'LP002111' 'LP002117'
 'LP002118' 'LP002123' 'LP002125' 'LP002148' 'LP002152' 'LP002165'
 'LP002167' 'LP002168' 'LP002172' 'LP002176' 'LP002183' 'LP002184'
 'LP002186' 'LP002192' 'LP002195' 'LP002208' 'LP002212' 'LP002240'
 'LP002245' 'LP002253' 'LP002256' 'LP002257' 'LP002264' 'LP002270'
 'LP002279' 'LP002286' 'LP002294' 'LP002298' 'LP002306' 'LP002310'
 'LP002311' 'LP002316' 'LP002321' 'LP002325' 'LP002326' 'LP002329'
 'LP002333' 'LP002339' 'LP002344' 'LP002346' 'LP002354' 'LP002355'
 'LP002358' 'LP002360' 'LP002375' 'LP002376' 'LP002383' 'LP002385'
 'LP002389' 'LP002394' 'LP002397' 'LP002399' 'LP002400' 'LP002402'
 'LP002412' 'LP002415' 'LP002417' 'LP002420' 'LP002425' 'LP002433'
 'LP002440' 'LP002441' 'LP002442' 'LP002445' 'LP002450' 'LP002471'
 'LP002476' 'LP002482' 'LP002485' 'LP002495' 'LP002496' 'LP002523'
 'LP002542' 'LP002550' 'LP002551' 'LP002553' 'LP002554' 'LP002561'
 'LP002566' 'LP002568' 'LP002570' 'LP002572' 'LP002581' 'LP002584'
 'LP002592' 'LP002593' 'LP002599' 'LP002604' 'LP002605' 'LP002609'
 'LP002610' 'LP002612' 'LP002614' 'LP002630' 'LP002635' 'LP002639'
 'LP002644' 'LP002651' 'LP002654' 'LP002657' 'LP002711' 'LP002712'
 'LP002721' 'LP002735' 'LP002744' 'LP002745' 'LP002746' 'LP002747'
 'LP002754' 'LP002759' 'LP002760' 'LP002766' 'LP002769' 'LP002774'
 'LP002775' 'LP002781' 'LP002782' 'LP002786' 'LP002790' 'LP002791'
 'LP002793' 'LP002802' 'LP002803' 'LP002805' 'LP002806' 'LP002816'
 'LP002823' 'LP002825' 'LP002826' 'LP002843' 'LP002849' 'LP002850'
 'LP002853' 'LP002856' 'LP002857' 'LP002858' 'LP002860' 'LP002867'
 'LP002869' 'LP002870' 'LP002876' 'LP002878' 'LP002879' 'LP002885'
 'LP002890' 'LP002891' 'LP002899' 'LP002901' 'LP002907' 'LP002920'
 'LP002921' 'LP002932' 'LP002935' 'LP002952' 'LP002954' 'LP002962'
 'LP002965' 'LP002969' 'LP002971' 'LP002975' 'LP002980' 'LP002986'
 'LP002989']
Gender -- ['Male' 'Female']
Married -- ['Yes' 'No']
Dependents -- ['0' '1' '2' '3']
Education -- ['Graduate' 'Not Graduate']
Self_Employed -- ['No' 'Yes']
Property_Area -- ['Urban' 'Semiurban' 'Rural']

In [14]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [15]:
# df.dropna(inplace=True)

In [17]:
df['LoanAmount'].fillna(df['LoanAmount'].median(), inplace=True)

In [18]:
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].median(), inplace=True)

In [19]:
df['Credit_History'].fillna(df['Credit_History'].median(), inplace=True)

In [16]:
df.shape

(328, 12)

In [20]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [21]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [22]:
# from sklearn import preprocessing

# # Loop over each column in the DataFrame where dtype is 'object'
# for col in df.select_dtypes(include=['object']).columns:

#     # Initialize a LabelEncoder object
#     label_encoder = preprocessing.LabelEncoder()

#     # Fit the encoder to the unique values in the column
#     label_encoder.fit(df[col].unique())

#     # Transform the column using the encoder
#     df[col] = label_encoder.transform(df[col])

#     # Print the column name and the unique encoded values
#     print(f"{col}: {df[col].unique()}")

In [23]:
le = preprocessing.LabelEncoder()
for col in df.select_dtypes(include=['object']).columns:
    df[col] = le.fit_transform(df[col])

In [24]:
df.shape

(328, 12)

In [25]:
import pickle
output_predict = pickle.load(open("loan_predict_ra.pkl","rb"))

In [26]:
pred1 = output_predict.predict(df)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Loan_ID

In [ ]:
df = pd.read_csv(r"C:\Users\Rahul\Desktop\Data Science\omkar sir\Machine Learning\Analytic vidya\loan\test_lAUu6dG.csv")

In [ ]:
df['Loan_ID']

In [ ]:
newdf = pd.DataFrame()

In [ ]:
# newdf['Loan_ID'] = df['Loan_ID']
# newdf['Loan_Status'] = pred